.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  gap: 0.5em;
  width: 159px;
  height: 133px;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
}
/* sdasdadsad sdss  ss*/
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}
.card-icon {
  margin-left: 20px;
}

.card-dots {
  position: relative;
  top: -14px;
  margin-left: 10px;
}

.card-body {
  display: block;
  margin-top: 5px;
  padding-left: 20px;
}

.circle1 {
  height: 18px;
  width: 18px;
  border: 1px solid #bec0c8;
  border-radius: 50%;
  margin-left: 18px;
}
.circle2 {
  position: relative;
  right: 22px;
  height: 18px;
  width: 18px;
  border: 1px solid #bec0c8;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 15px;
}

.circle1-special {
  margin-left: 15px;
  height: 18px;
  width: 18px;
  border: 1px solid #bec0c8;
  border-radius: 50%;
}

.circle2-special {
  position: relative;
  right: 7px;
  height: 18px;
  width: 18px;
  border: 1px solid #bec0c8;
  background-color: #ffffff;
  border-radius: 50%;
}

.circle3-special {
  position: relative;
  right: 15px;
  height: 18px;
  width: 18px;
  border: 1px solid #bec0c8;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 8px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343951;
}

.card-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #343951;
}

.card-date {
  font-size: 8px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  color: #858a9d;
}
