.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
  background-color: #f5f6fc;
  padding-top: 25px;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.squares-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-right: 15px;
}

.first-title {
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
  color: #343951;
}

.title-square-1 {
  width: 15px;
  height: 15px;
  border: 1px solid #343951;
}
.title-square-2 {
  width: 15px;
  height: 15px;
  border: 1px solid #9d9faf;
}

/* CARD */

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

/* Recent files */

.second-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  height: 40px;
}

.second-title {
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
  color: #343951;
}

.view-button {
  background-color: #f5f6fc;
  border: none;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #343951;
}

.headers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  font-size: 12px;
  color: #858a9d;
  margin-top: -10px;
}
.name {
  margin-left: 25px;
}
.members {
  margin-left: 228px;
}

.last-mod {
  margin-left: 70px;
}

/* row cards */

.row-card-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1em;
  width: 100%;
}
