.app-container {
  display: grid;
  grid-template-columns: 1.3fr 4fr 1.7fr;
  column-gap: 20.5px;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .app-container {
    display: grid;
    grid-template-columns: 100px 170px 250px;
  }
}
